<header>
  <div class="container-fluid text-center shadow py-4 h-100">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center"
        [ngClass]="{'col-12': !isAuthenticated, 'col-6': isAuthenticated}">
        <h1>Mutui</h1>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center" *ngIf="isAuthenticated">
        <a class="btn btn-primary mx-3" (click)="onLogout()">Logout</a>
        <a class="btn btn-secondary mx-3">{{ timer }}</a>
      </div>
    </div>
  </div>
</header>