<app-loader *ngIf="isLoading"></app-loader>
<div class="container py-5 h-100" *ngIf="!isLoading">
  <div class="row py-5">
    <!-- FORM -->
    <div class="col-12 d-flex justify-content-center">
      <form class="w-50" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- EMAIL -->
        <div class="text-start mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && email.touched}"
            placeholder="Inserisci la tua email" name="email" id="email" ngModel #email="ngModel" required email>
          <div class="text-danger form-text" *ngIf="email.invalid && email.touched">
            Devi inserire la tua email
          </div>
        </div>
        <!-- PASSWORD -->
        <div class="text-start mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" [ngClass]="{'is-invalid': password.invalid && password.touched}"
            placeholder="Inserisci la tua password" name="password" id="password" ngModel #password="ngModel" required
            minlength="8">
          <div class="text-danger form-text" *ngIf="password.invalid && password.touched">
            La password è obbligatoria e deve avere una lunghezza minima di 8 caratteri
          </div>
        </div>
        <!-- BUTTON -->
        <div class="text-end my-4">
          <!-- REDIRECT TO SIGN-UP-FORM -->
          <button type="button" class="btn btn-light mx-1" routerLink="/sign-up">
            Registrati
          </button>
          <!-- SUBMIT -->
          <button type="submit" class="btn mx-1"
            [ngClass]="{'btn-primary': loginForm.valid, 'btn-secondary': loginForm.invalid}"
            [disabled]="loginForm.invalid">
            {{ loginForm.invalid ? 'Compila il form' : 'Login' }}
          </button>
        </div>
      </form>
    </div>
    <!-- API ERROR MESSAGE -->
    <div class="col-12 text-center py-4" *ngIf="errorMessage !== ''">
      <span class="text-danger">{{ errorMessage }}</span>
    </div>
  </div>
</div>