/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
    color: white;
}

header {
    background-color: rgb(32, 32, 32);
    color: white;
    height: 100px;
}

main {
    min-height: calc(100vh - 100px);
}

.user-image-logo {
    background-position: center;
    background-size: contain;
}

.user-image-header-logo {
    width: 60px;
    height: 60px;
}

.user-image-signup-form-logo {
    position: relative;
    width: 150px;
    height: 150px;
}

.user-image-signup-form-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 10px;
    cursor: pointer;
}