<app-loader *ngIf="isLoading"></app-loader>
<div class="container py-5 h-100" *ngIf="!isLoading">
  <div class="row py-5">
    <!-- FORM -->
    <div class="col-12 d-flex justify-content-center">
      <form class="text-center w-50" #signUpForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- NOME -->
        <div class="text-start mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': nome.invalid && nome.touched}"
            placeholder="Inserisci il tuo nome" name="nome" id="nome" ngModel #nome="ngModel" required>
          <div class="text-danger form-text" *ngIf="nome.invalid && nome.touched">
            Devi inserire il tuo nome
          </div>
        </div>
        <!-- COGNOME -->
        <div class="text-start mb-3">
          <label for="cognome" class="form-label">Cognome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': cognome.invalid && cognome.touched}"
            placeholder="Inserisci il tuo cognome" name="cognome" id="cognome" ngModel #cognome="ngModel" required>
          <div class="text-danger form-text" *ngIf="cognome.invalid && cognome.touched">
            Devi inserire il tuo cognome
          </div>
        </div>
        <!-- EMAIL -->
        <div class="text-start mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && email.touched}"
            placeholder="Inserisci la tua email" name="email" id="email" ngModel #email="ngModel" required email>
          <div class="text-danger form-text" *ngIf="email.invalid && email.touched">
            Devi inserire la tua email
          </div>
        </div>
        <!-- PASSWORD -->
        <div class="text-start mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" [ngClass]="{'is-invalid': password.invalid && password.touched}"
            placeholder="Inserisci la tua password" name="password" id="password" ngModel #password="ngModel" required
            minlength="8">
          <div class="text-danger form-text" *ngIf="password.invalid && password.touched">
            La password è obbligatoria e deve avere una lunghezza minima di 8 caratteri
          </div>
        </div>
        <!-- DATA DI NASCITA -->
        <div class="text-start mb-3">
          <label for="dataDiNascita" class="form-label">Data di nascita</label>
          <input type="date" class="form-control"
            [ngClass]="{'is-invalid': dataDiNascita.invalid && dataDiNascita.touched}"
            placeholder="Inserisci la tua data di nascita" name="dataDiNascita" id="dataDiNascita" ngModel
            #dataDiNascita="ngModel" required minlength="8">
          <div class="text-danger form-text" *ngIf="dataDiNascita.invalid && dataDiNascita.touched">
            Devi inserire la tua data di nascita
          </div>
        </div>
        <!-- SUBMIT -->
        <button type="submit" class="btn my-4 w-100"
          [ngClass]="{'btn-primary': signUpForm.valid, 'btn-secondary': signUpForm.invalid}"
          [disabled]="signUpForm.invalid">
          {{ signUpForm.invalid ? 'Compila il form' : 'Registrati' }}
        </button>
      </form>
    </div>
    <!-- API ERROR MESSAGE -->
    <div class="col-12 text-center py-4" *ngIf="errorMessage !== ''">
      <span class="text-danger">{{ errorMessage }}</span>
    </div>
  </div>
</div>