<app-loader *ngIf="isLoading"></app-loader>
<div class="container py-2 h-100" *ngIf="!isLoading">
  <div class="row py-5">
    <!-- FORM -->
    <div class="col-12 d-flex justify-content-center">
      <form class="w-50" #signUpForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- NOME -->
        <div class="text-start mb-3">
          <!-- LABEL -->
          <label for="nome" class="form-label">Nome</label>
          <!-- INPUT -->
          <input type="text" class="form-control" [ngClass]="{'is-invalid': nome.invalid && nome.touched}"
            placeholder="Inserisci il tuo nome" name="nome" id="nome" ngModel #nome="ngModel" required>
          <!-- INPUT ERROR MESSAGE -->
          <div class="text-danger form-text" *ngIf="nome.invalid && nome.touched">
            Devi inserire il tuo nome
          </div>
        </div>
        <!-- COGNOME -->
        <div class="text-start mb-3">
          <!-- LABEL -->
          <label for="cognome" class="form-label">Cognome</label>
          <!-- INPUT -->
          <input type="text" class="form-control" [ngClass]="{'is-invalid': cognome.invalid && cognome.touched}"
            placeholder="Inserisci il tuo cognome" name="cognome" id="cognome" ngModel #cognome="ngModel" required>
          <!-- INPUT ERROR MESSAGE -->
          <div class="text-danger form-text" *ngIf="cognome.invalid && cognome.touched">
            Devi inserire il tuo cognome
          </div>
        </div>
        <!-- EMAIL -->
        <div class="text-start mb-3">
          <!-- LABEL -->
          <label for="email" class="form-label">Email</label>
          <!-- INPUT -->
          <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && email.touched}"
            placeholder="Inserisci la tua email" name="email" id="email" ngModel #email="ngModel" required email>
          <!-- INPUT ERROR MESSAGE -->
          <div class="text-danger form-text" *ngIf="email.invalid && email.touched">
            Devi inserire la tua email
          </div>
        </div>
        <!-- PASSWORD -->
        <div class="text-start mb-3">
          <!-- LABEL -->
          <label for="password" class="form-label">Password</label>
          <!-- INPUT -->
          <input type="password" class="form-control" [ngClass]="{'is-invalid': password.invalid && password.touched}"
            placeholder="Inserisci la tua password" name="password" id="password" ngModel #password="ngModel" required
            minlength="8">
          <!-- INPUT ERROR MESSAGE -->
          <div class="text-danger form-text" *ngIf="password.invalid && password.touched">
            La password è obbligatoria e deve avere una lunghezza minima di 8 caratteri
          </div>
        </div>
        <!-- DATA DI NASCITA -->
        <div class="text-start mb-3">
          <!-- LABEL -->
          <label for="dataDiNascita" class="form-label">Data di nascita</label>
          <!-- INPUT -->
          <input type="date" class="form-control"
            [ngClass]="{'is-invalid': dataDiNascita.invalid && dataDiNascita.touched}" name="dataDiNascita"
            id="dataDiNascita" ngModel #dataDiNascita="ngModel" required>
          <!-- INPUT ERROR MESSAGE -->
          <div class="text-danger form-text" *ngIf="dataDiNascita.invalid && dataDiNascita.touched">
            Devi inserire la tua data di nascita
          </div>
        </div>
        <!-- IMMAGINE DI PROFILO -->
        <div class="d-flex justify-content-center mb-3">
          <!-- IMMAGINE DI PROFILO INPUT -->
          <div *ngIf="!userImage" class="w-100">
            <!-- LABEL -->
            <label for="userImageInput" class="form-label">Immagine di profilo</label>
            <!-- INPUT -->
            <input type="file" class="form-control"
              [ngClass]="{'is-invalid': userImageInput.invalid && userImageInput.touched}" name="userImageInput"
              id="userImageInput" ngModel #userImageInput="ngModel" required (change)="onFileSelected($event)">
            <!-- INPUT ERROR MESSAGE -->
            <div class="text-danger form-text" *ngIf="userImageInput.invalid && userImageInput.touched">
              Devi inserire la tua immagine di profilo
            </div>
          </div>
          <!-- IMMAGINE DI PROFILO PREVIEW -->
          <div *ngIf="userImage" class="user-image-logo user-image-signup-form-logo my-3"
            [ngStyle]="{'background-image': 'url(' + userImage.url['changingThisBreaksApplicationSecurity'] + ')'}">
            <!-- BADGE RIMUOVI IMMAGINE -->
            <span class="user-image-signup-form-badge badge bg-danger" (click)="userImage = null">
              <i class="bi bi-x fs-5"></i>
            </span>
          </div>
        </div>
        <!-- REGISTRAZIONE VOCALE -->
        <div class="row justify-content-center align-items-center mb-3">
          <!-- START & STOP BUTTON -->
          <div class="col-12" *ngIf="!userAudio">
            <!-- LABEL -->
            <label class="form-label">{{!isRecording ? 'Registrazione vocale' : 'Registrazione in corso'}}</label>
            <!-- BUTTON -->
            <button type="button" class="btn w-100"
              [ngClass]="{'btn-primary': !isRecording && !isAuthorizingAudio, 'btn-danger': isRecording, 'btn-secondary': isAuthorizingAudio}"
              [disabled]="isAuthorizingAudio" (click)="onHandleRecording()">
              {{ !isRecording ? (!isAuthorizingAudio ? 'Registra' : '') : 'Stop' }}
              <span class="loader" *ngIf="isAuthorizingAudio"></span>
            </button>
          </div>
          <!-- REGISTRAZIONE FINALE -->
          <div class="col-12" *ngIf="userAudio">
            <!-- ELIMINA REGISTRAZIONE -->
            <label class="form-label btn btn-danger" (click)="userAudio = null">
              Elimina registrazione
            </label>
            <!-- AUDIO -->
            <audio class="audio-file w-100" controls autoplay>
              <source [src]="userAudio.url" type="audio/wav">
            </audio>
          </div>
        </div>
        <!-- BUTTON -->
        <div class="text-end my-4">
          <!-- REDIRECT TO LOGIN-FORM -->
          <button type="button" class="btn btn-light mx-1" routerLink="/login">
            Login
          </button>
          <!-- SUBMIT -->
          <button type="submit" class="btn mx-1"
            [ngClass]="{'btn-primary': signUpForm.valid && userAudio, 'btn-secondary': signUpForm.invalid || !userAudio}"
            [disabled]="signUpForm.invalid || !userAudio">
            {{ signUpForm.invalid || !userAudio ? 'Compila il form' : 'Registrati' }}
          </button>
        </div>
      </form>
    </div>
    <!-- ERROR MESSAGE -->
    <div class="col-12 text-center py-3" *ngIf="errorMessage !== ''">
      <span class="text-danger">{{ errorMessage }}</span>
    </div>
  </div>
</div>